                <!-- Rodapé (barra escura na base da página) -->
                <footer class="bg-dark text-white p-1 text-lg-start">
                    <div class="text-center">INF 321 - Proj. e Desenv. de Sist. para a Web © 2024 - 2</div>
                </footer>
            </div>
        </div>
    </body>
</html>